name: Upload Edge Docker Image

on:
  push:
    branches: [ main ]
    paths:
     - .github/workflows/build_and_publish-docker-edge.yml
     - docker/Dockerfile-edge
     - src/**
     - 'pyproject.toml'

jobs:
  docker-deploy:
    runs-on: ubuntu-latest
    environment: 
      name: dockerhub
    timeout-minutes: 30
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: |
            tillsteinbach/carconnectivity-mqtt
            ghcr.io/tillsteinbach/carconnectivity-mqtt
          tags: |
            type=edge
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.6.1
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6.7.0
        with:
          context: .
          file: docker/Dockerfile-edge
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
